/* ===========================
     Navbar Sectiion
=========================== */
.navbar-section {
    background-image: linear-gradient(to bottom, #e57070 0%, #d73611 100%); 
    border-radius: 10px;
    font-family: 'Koulen', cursive;
}

.navbar-light .navbar-nav .nav-link.active {
    color:#ffffff;
    font-weight: 500;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    
}




/* ===========================
     Home Sectiion
=========================== */
.carousel-bg {
    background-image: linear-gradient(to bottom, #e57070 0%, #d22700 100%); 
    border-radius: 15px;
    height: 450px;
    border: 0px;
    margin-top: 20px;
    color: #ffffff;
}
.carousel-item img{
    height: 300px;
    width: 180px;
}
.carousel-item,
.row {
    padding: 25px 35px;

}

.carousel-bg img {
    max-width: 400px;
    padding: 25px;

}

.buy-now {
    background-image: linear-gradient(to bottom, #ff6358 0%, #E62E04 100%); 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 9px 25px;

}

.price{
    color:  #ffffff;

    
}