/* ===========================
     Navbar Sectiion
=========================== */
.navbar-section {
    background-image: linear-gradient(to bottom, #FFD700 0%,  #FFD700 100%); 
    border-radius: 5px;
    font-family: 'Koulen', cursive;
    margin-top: 0px;
}

.navbar-light .navbar-nav .nav-link.active {
    color:#000000;
    font-weight: 500;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
    
}
.navbar>.container-fluid{
    margin-left: 162px;
}


span.navbar-toggler-icon  {
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
}
button.navbar-toggler
.dropdown-menu{
    background-image: linear-gradient(to bottom, #FFD700 0%,  #FFD700 100%);
    border-radius: 10px;
    align-items: center;
    color: rgb(0, 0, 0);
}

element.style {
    color: rgb(0, 0, 0);
}
a.dropdown-item{
    color: rgb(0, 0, 0);
}

element.style {
    color: rgb(0, 0, 0);
}
ul.dropdown-menu.show {
    background-image: linear-gradient(to bottom, #FFD700 0%,  #FFD700 100%);
    border-radius:7px ;
}
a.dropdown-item:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 25px;
}


.navbar-light .navbar-nav .nav-link.active:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 25px;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 25px;
}
/* ===========================
     Home Sectiion
=========================== */
.carousel-bg {
    background-image: linear-gradient(to bottom, #FFD700 0%,  #FFD700 100%); 
    border-radius: 15px;
    height: 55%;
    border: 0px;
    margin-top: 150px;
    color: #000000;
}
.carousel-item img{
    width: 180px;
    object-fit: cover;
}
.carousel-item,
.row {
    padding: 25px 35px;

}

.carousel-bg img {
    max-width: 400px;
    padding: 25px;

}

.buy-now {
    background-image: linear-gradient(to bottom, #ff6358 0%, #E62E04 100%); 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 9px 25px;

  

}


a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
a:hover {
    color: rgb(102, 97, 97);
    font-size: 1.3rem;
    font-weight: 600;
  }

.price{
    color:  #ff0000;

    
}


/* 
<!-- ===================================

 @@@@@@@@@@@ components @@@@@@@@@

================================== --> */


.catagory{
    margin-top: 60px;
}
.cat1,
.cat2,
.cat3 {
    border-radius: 50%;
    padding: 10px 25px;
}

.cat1 {
    background-image: linear-gradient(to right, #e3e641 0%, #ffc800 50%, #e3e641 100%);
    border: none;
    border-radius: 50%;
    color: white;
    
}

.cat2 {
    background-image: linear-gradient(to bottom, #5359d8 0%, #6367a7 50%, #5359d8 100%);
    border-radius: 2%;
    color: white;
}

.cat3 {
    background-image: linear-gradient(to right, #e3e641 0%, #ffc800 50%, #e3e641 100%);
    border-radius: 2%;
    color: white;
}

/* ============================

      Product Card

========================= */
.item{
    margin-top: 60px;
}

.item .card{
    border: none;
    box-shadow: 5px 5px 20px 5px #a9a9a9;
    border-radius: 8px;
}
.item .card img{
    height: 275px;
    padding: 13px;
}
.card button{
    
}